{
  "openapi": "3.0.3",
  "servers": [
    {
      "description": "HyperOne API",
      "url": "https://api.hyperone.com/v2"
    }
  ],
  "info": {
    "version": "0.1.0",
    "title": "HyperOne",
    "description": "HyperOne API"
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/iam/user/{userId}": {
      "get": {
        "summary": "Get iam/user",
        "description": "Returns a single user",
        "operationId": "user_get",
        "tags": ["iam_user"],
        "parameters": [
          {
            "$ref": "#/components/parameters/userId"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/user/get"]
      },
      "patch": {
        "summary": "Update iam/user",
        "description": "Returns modified user",
        "operationId": "user_update",
        "tags": ["iam_user"],
        "parameters": [
          {
            "$ref": "#/components/parameters/userId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user_update"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/iam/user/{userId}/credential/authtoken": {
      "get": {
        "summary": "List iam/user.credential",
        "description": "List iam/user.credential",
        "parameters": [
          {
            "$ref": "#/components/parameters/userId"
          }
        ],
        "operationId": "user_credential_authtoken_list",
        "tags": ["iam_user"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "AuthToken collection",
                  "items": {
                    "$ref": "#/components/schemas/authToken"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/user.credential/list"]
      }
    },
    "/iam/user/{userId}/credential/authtoken/{authtokenId}": {
      "get": {
        "summary": "Get iam/user.credential",
        "description": "Get iam/user.credential",
        "parameters": [
          {
            "$ref": "#/components/parameters/userId"
          },
          {
            "name": "authtokenId",
            "in": "path",
            "description": "authtokenId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "user_credential_authtoken_get",
        "tags": ["iam_user"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authToken"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/user.credential/get"]
      },
      "delete": {
        "summary": "Delete iam/user.credential",
        "description": "Delete iam/user.credential",
        "parameters": [
          {
            "$ref": "#/components/parameters/userId"
          },
          {
            "name": "authtokenId",
            "in": "path",
            "description": "authtokenId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "user_credential_authtoken_delete",
        "tags": ["iam_user"],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/user.credential/delete"]
      }
    },
    "/iam/user/{userId}/credential": {
      "get": {
        "summary": "List iam/user.credential",
        "description": "List iam/user.credential",
        "parameters": [
          {
            "$ref": "#/components/parameters/userId"
          }
        ],
        "operationId": "user_credential_list",
        "tags": ["iam_user"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "User.credential collection",
                  "items": {
                    "$ref": "#/components/schemas/user.credential"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/user.credential/list"]
      },
      "post": {
        "summary": "Create iam/user.credential",
        "description": "Create iam/user.credential",
        "parameters": [
          {
            "$ref": "#/components/parameters/userId"
          }
        ],
        "operationId": "user_credential_create",
        "tags": ["iam_user"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user.credential"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.credential"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/user.credential/create"]
      }
    },
    "/iam/user/{userId}/credential/{credentialId}": {
      "get": {
        "summary": "Get iam/user.credential",
        "description": "Get iam/user.credential",
        "parameters": [
          {
            "$ref": "#/components/parameters/userId"
          },
          {
            "name": "credentialId",
            "in": "path",
            "description": "credentialId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "user_credential_get",
        "tags": ["iam_user"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.credential"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/user.credential/get"]
      },
      "patch": {
        "summary": "Update iam/user.credential",
        "description": "Update iam/user.credential",
        "parameters": [
          {
            "$ref": "#/components/parameters/userId"
          },
          {
            "name": "credentialId",
            "in": "path",
            "description": "credentialId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "user_credential_patch",
        "tags": ["iam_user"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user_credential_patch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.credential"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "delete": {
        "summary": "Delete iam/user.credential",
        "description": "Delete iam/user.credential",
        "parameters": [
          {
            "$ref": "#/components/parameters/userId"
          },
          {
            "name": "credentialId",
            "in": "path",
            "description": "credentialId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "user_credential_delete",
        "tags": ["iam_user"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user"
                }
              }
            }
          },
          "202": {
            "description": "operation queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/user.credential/delete"]
      }
    },
    "/iam/user/{userId}/service": {
      "get": {
        "summary": "List iam/user.service",
        "description": "List iam/user.service",
        "parameters": [
          {
            "$ref": "#/components/parameters/userId"
          }
        ],
        "operationId": "user_service_list",
        "tags": ["iam_user"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "ResourceService collection",
                  "items": {
                    "$ref": "#/components/schemas/resourceService"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/user.service/list"]
      }
    },
    "/iam/user/{userId}/service/{serviceId}": {
      "get": {
        "summary": "Get iam/user.service",
        "description": "Get iam/user.service",
        "parameters": [
          {
            "$ref": "#/components/parameters/userId"
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "serviceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "user_service_get",
        "tags": ["iam_user"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resourceService"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/user.service/get"]
      }
    },
    "/iam/project": {
      "post": {
        "summary": "Create iam/project",
        "description": "Create project",
        "operationId": "project_create",
        "tags": ["iam_project"],
        "parameters": [
          {
            "$ref": "#/components/parameters/x-idempotency-key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/project_create"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/project"
                }
              }
            }
          },
          "202": {
            "description": "operation queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": []
      },
      "get": {
        "summary": "List iam/project",
        "description": "List project",
        "operationId": "project_list",
        "parameters": [
          {
            "name": "name",
            "description": "Filter by name",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$limit",
            "description": "Filter by $limit",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "active",
            "description": "Filter by active",
            "required": false,
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "organisation",
            "description": "Filter by organisation",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uri",
              "x-resource": {
                "kind": "iam/organisation"
              },
              "x-permissions": []
            }
          },
          {
            "name": "$lean",
            "description": "return a lightweight version of the resource",
            "required": false,
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "$ref": "#/components/parameters/tag.value"
          },
          {
            "$ref": "#/components/parameters/tag.key"
          }
        ],
        "tags": ["iam_project"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Project collection",
                  "items": {
                    "$ref": "#/components/schemas/project"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": []
      }
    },
    "/iam/project/{projectId}": {
      "get": {
        "summary": "Get iam/project",
        "description": "Returns a single project",
        "operationId": "project_get",
        "tags": ["iam_project"],
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project/get"]
      },
      "patch": {
        "summary": "Update iam/project",
        "description": "Returns modified project",
        "operationId": "project_update",
        "tags": ["iam_project"],
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/project_update"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "delete": {
        "summary": "Delete iam/project",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "operationId": "project_delete",
        "description": "Delete project",
        "tags": ["iam_project"],
        "x-permissions": ["iam/project/delete"],
        "x-state": ["Active"],
        "responses": {
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/iam/project/{projectId}/billing": {
      "get": {
        "summary": "List iam/project.billing",
        "description": "List iam/project.billing",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "name": "start",
            "in": "query",
            "description": "start",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "end",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "resource.type",
            "in": "query",
            "description": "resource.type",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_billing_list",
        "tags": ["iam_project"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Billing collection",
                  "items": {
                    "$ref": "#/components/schemas/billing"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.billing/list"],
        "x-audience": "developer"
      }
    },
    "/iam/project/{projectId}/payment": {
      "get": {
        "summary": "List iam/project.payment",
        "description": "List iam/project.payment",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "operationId": "project_payment_list",
        "tags": ["iam_project"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Payment collection",
                  "items": {
                    "$ref": "#/components/schemas/payment"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.payment/list"]
      }
    },
    "/iam/project/{projectId}/invoice": {
      "get": {
        "summary": "List iam/project.invoice",
        "description": "List iam/project.invoice",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "operationId": "project_invoice_list",
        "tags": ["iam_project"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Invoice collection",
                  "items": {
                    "$ref": "#/components/schemas/invoice"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.invoice/list"]
      }
    },
    "/iam/project/{projectId}/proforma": {
      "get": {
        "summary": "List iam/project.proforma",
        "description": "List iam/project.proforma",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "operationId": "project_proforma_list",
        "tags": ["iam_project"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Proforma collection",
                  "items": {
                    "$ref": "#/components/schemas/proforma"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.proforma/list"]
      }
    },
    "/iam/project/{projectId}/credentialStore": {
      "get": {
        "summary": "List iam/project.credentialStore",
        "description": "List iam/project.credentialStore",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "operationId": "project_credentialStore_list",
        "tags": ["iam_project"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Project.credential collection",
                  "items": {
                    "$ref": "#/components/schemas/project.credential"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.credentialStore/list"]
      },
      "post": {
        "summary": "Create iam/project.credentialStore",
        "description": "Create iam/project.credentialStore",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "operationId": "project_credentialStore_create",
        "tags": ["iam_project"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/project.credential"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/project.credential"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.credentialStore/create"]
      }
    },
    "/iam/project/{projectId}/credentialStore/{credentialId}": {
      "get": {
        "summary": "Get iam/project.credentialStore",
        "description": "Get iam/project.credentialStore",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "name": "credentialId",
            "in": "path",
            "description": "credentialId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_credentialStore_get",
        "tags": ["iam_project"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/project.credential"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.credentialStore/get"]
      },
      "patch": {
        "summary": "Update iam/project.credentialStore",
        "description": "Update iam/project.credentialStore",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "name": "credentialId",
            "in": "path",
            "description": "credentialId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_credentialStore_patch",
        "tags": ["iam_project"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/project_credentialStore_patch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/project.credential"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "delete": {
        "summary": "Delete iam/project.credentialStore",
        "description": "Delete iam/project.credentialStore",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "name": "credentialId",
            "in": "path",
            "description": "credentialId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_credentialStore_delete",
        "tags": ["iam_project"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/project"
                }
              }
            }
          },
          "202": {
            "description": "operation queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.credentialStore/delete"]
      }
    },
    "/iam/project/{projectId}/quota": {
      "get": {
        "summary": "List iam/project.quota",
        "description": "List iam/project.quota",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "operationId": "project_quota_list",
        "tags": ["iam_project"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Quota collection",
                  "items": {
                    "$ref": "#/components/schemas/quota"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.quota/list"]
      }
    },
    "/iam/project/{projectId}/quota/{quotaId}": {
      "get": {
        "summary": "Get iam/project.quota",
        "description": "Get iam/project.quota",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "name": "quotaId",
            "in": "path",
            "description": "quotaId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_quota_get",
        "tags": ["iam_project"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/quota"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.quota/get"]
      }
    },
    "/iam/project/{projectId}/quota/{quotaId}/limit": {
      "patch": {
        "summary": "Update iam/project.limit",
        "description": "Update iam/project.limit",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "name": "quotaId",
            "in": "path",
            "description": "quotaId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_quota_limit_patch",
        "tags": ["iam_project"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/project_quota_limit_patch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/quotaLimit"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/iam/project/{projectId}/invitation": {
      "get": {
        "summary": "List iam/project.invitation",
        "description": "List iam/project.invitation",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "name": "resource",
            "in": "query",
            "description": "resource",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_invitation_list",
        "tags": ["iam_project"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Invitation collection",
                  "items": {
                    "$ref": "#/components/schemas/invitation"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.invitation/list"]
      }
    },
    "/iam/project/{projectId}/invitation/{invitationId}": {
      "get": {
        "summary": "Get iam/project.invitation",
        "description": "Get iam/project.invitation",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "name": "invitationId",
            "in": "path",
            "description": "invitationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_invitation_get",
        "tags": ["iam_project"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invitation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.invitation/get"]
      },
      "delete": {
        "summary": "Delete iam/project.invitation",
        "description": "Delete iam/project.invitation",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "name": "invitationId",
            "in": "path",
            "description": "invitationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_invitation_delete",
        "tags": ["iam_project"],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.invitation/delete"]
      }
    },
    "/iam/project/{projectId}/invitation/{invitationId}/actions/accept": {
      "post": {
        "summary": "Create iam/project.actions",
        "description": "Create iam/project.actions",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "name": "invitationId",
            "in": "path",
            "description": "invitationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_invitation_accept",
        "tags": ["iam_project"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/project_invitation_accept"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invitation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": [],
        "x-audience": "developer"
      }
    },
    "/iam/project/{projectId}/ownership": {
      "post": {
        "summary": "Create iam/project.ownership",
        "description": "Create iam/project.ownership",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "operationId": "project_ownership_create",
        "tags": ["iam_project"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/project_ownership_create"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/project"
                }
              }
            }
          },
          "202": {
            "description": "operation queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.ownership/create"]
      },
      "get": {
        "summary": "List iam/project.ownership",
        "description": "List iam/project.ownership",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "operationId": "project_ownership_list",
        "tags": ["iam_project"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Ownership collection",
                  "items": {
                    "$ref": "#/components/schemas/ownership"
                  }
                }
              }
            },
            "links": {
              "invitation": {
                "operationId": "project_invitation_list",
                "parameters": {
                  "resource": "$path"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.ownership/list"]
      }
    },
    "/iam/project/{projectId}/ownership/{ownershipId}": {
      "get": {
        "summary": "Get iam/project.ownership",
        "description": "Get iam/project.ownership",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "name": "ownershipId",
            "in": "path",
            "description": "ownershipId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_ownership_get",
        "tags": ["iam_project"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ownership"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.ownership/get"]
      },
      "delete": {
        "summary": "Delete iam/project.ownership",
        "description": "Delete iam/project.ownership",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "name": "ownershipId",
            "in": "path",
            "description": "ownershipId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_ownership_delete",
        "tags": ["iam_project"],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.ownership/delete"]
      }
    },
    "/iam/project/{projectId}/service": {
      "get": {
        "summary": "List iam/project.service",
        "description": "List iam/project.service",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "operationId": "project_service_list",
        "tags": ["iam_project"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "ResourceService collection",
                  "items": {
                    "$ref": "#/components/schemas/resourceService"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.service/list"]
      }
    },
    "/iam/project/{projectId}/service/{serviceId}": {
      "get": {
        "summary": "Get iam/project.service",
        "description": "Get iam/project.service",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "serviceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_service_get",
        "tags": ["iam_project"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resourceService"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.service/get"]
      }
    },
    "/iam/project/{projectId}/tag": {
      "get": {
        "summary": "List iam/project.tag",
        "description": "List iam/project.tag",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "operationId": "project_tag_list",
        "tags": ["iam_project"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Tag collection",
                  "items": {
                    "$ref": "#/components/schemas/tag"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.tag/list"]
      },
      "put": {
        "summary": "Replace iam/project.tag",
        "description": "Replace iam/project.tag",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "operationId": "project_tag_put",
        "tags": ["iam_project"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tag_array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Tag collection",
                  "items": {
                    "$ref": "#/components/schemas/tag"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.tag/create", "iam/project.tag/delete"]
      },
      "post": {
        "summary": "Create iam/project.tag",
        "description": "Create iam/project.tag",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "operationId": "project_tag_create",
        "tags": ["iam_project"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tag"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tag"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.tag/create"]
      }
    },
    "/iam/project/{projectId}/tag/{tagId}": {
      "get": {
        "summary": "Get iam/project.tag",
        "description": "Get iam/project.tag",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "name": "tagId",
            "in": "path",
            "description": "tagId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_tag_get",
        "tags": ["iam_project"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tag"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.tag/get"]
      },
      "delete": {
        "summary": "Delete iam/project.tag",
        "description": "Delete iam/project.tag",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "name": "tagId",
            "in": "path",
            "description": "tagId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_tag_delete",
        "tags": ["iam_project"],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.tag/delete"]
      }
    },
    "/iam/project/{projectId}/event": {
      "get": {
        "summary": "List iam/project.event",
        "description": "List iam/project.event",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "name": "$limit",
            "in": "query",
            "description": "$limit",
            "required": false,
            "schema": {
              "type": "number",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "$skip",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "operationId": "project_event_list",
        "tags": ["iam_project"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Event collection",
                  "items": {
                    "$ref": "#/components/schemas/event"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.event/list"]
      }
    },
    "/iam/project/{projectId}/event/{eventId}": {
      "get": {
        "summary": "Get iam/project.event",
        "description": "Get iam/project.event",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "eventId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_event_get",
        "tags": ["iam_project"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/event"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/project.event/get"]
      }
    },
    "/support/project/{projectId}/ticket": {
      "post": {
        "summary": "Create support/ticket",
        "description": "Create ticket",
        "operationId": "support_project_ticket_create",
        "tags": ["support_project_ticket"],
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/x-idempotency-key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/support_project_ticket_create"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ticket"
                }
              }
            }
          },
          "202": {
            "description": "operation queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ticket"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["support/ticket/create"]
      },
      "get": {
        "summary": "List support/ticket",
        "description": "List ticket",
        "operationId": "support_project_ticket_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "name": "state",
            "description": "Filter by state",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["support_project_ticket"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Ticket collection",
                  "items": {
                    "$ref": "#/components/schemas/ticket"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["support/ticket/list"]
      }
    },
    "/support/project/{projectId}/ticket/{ticketId}": {
      "get": {
        "summary": "Get support/ticket",
        "description": "Returns a single ticket",
        "operationId": "support_project_ticket_get",
        "tags": ["support_project_ticket"],
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/ticketId"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ticket"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["support/ticket/get"]
      }
    },
    "/support/project/{projectId}/ticket/{ticketId}/actions/close": {
      "post": {
        "summary": "Close support/ticket",
        "description": "action close",
        "operationId": "support_project_ticket_close",
        "tags": ["support_project_ticket"],
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/ticketId"
          },
          {
            "$ref": "#/components/parameters/x-idempotency-key"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ticket"
                }
              }
            }
          },
          "202": {
            "description": "operation queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ticket"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["support/ticket/close"],
        "x-state": ["open"]
      }
    },
    "/support/project/{projectId}/ticket/{ticketId}/message": {
      "get": {
        "summary": "List support/ticket.message",
        "description": "List support/ticket.message",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/ticketId"
          }
        ],
        "operationId": "support_project_ticket_message_list",
        "tags": ["support_project_ticket"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Support.message collection",
                  "items": {
                    "$ref": "#/components/schemas/support.message"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["support/ticket.message/list"]
      },
      "post": {
        "summary": "Create support/ticket.message",
        "description": "Create support/ticket.message",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/ticketId"
          }
        ],
        "operationId": "support_project_ticket_message_create",
        "tags": ["support_project_ticket"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/support.message"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/support.message"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["support/ticket.message/create"]
      }
    },
    "/support/project/{projectId}/ticket/{ticketId}/message/{messageId}": {
      "get": {
        "summary": "Get support/ticket.message",
        "description": "Get support/ticket.message",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/ticketId"
          },
          {
            "name": "messageId",
            "in": "path",
            "description": "messageId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "support_project_ticket_message_get",
        "tags": ["support_project_ticket"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/support.message"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["support/ticket.message/get"]
      }
    },
    "/iam/organisation": {
      "post": {
        "summary": "Create iam/organisation",
        "description": "Create organisation",
        "operationId": "organisation_create",
        "tags": ["iam_organisation"],
        "parameters": [
          {
            "$ref": "#/components/parameters/x-idempotency-key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/organisation_create"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organisation"
                }
              }
            }
          },
          "202": {
            "description": "operation queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organisation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": []
      },
      "get": {
        "summary": "List iam/organisation",
        "description": "List organisation",
        "operationId": "organisation_list",
        "parameters": [
          {
            "name": "name",
            "description": "Filter by name",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "billing.company",
            "description": "Filter by billing.company",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$limit",
            "description": "Filter by $limit",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "active",
            "description": "Filter by active",
            "required": false,
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "tags": ["iam_organisation"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Organisation collection",
                  "items": {
                    "$ref": "#/components/schemas/organisation"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": []
      }
    },
    "/iam/organisation/{organisationId}": {
      "get": {
        "summary": "Get iam/organisation",
        "description": "Returns a single organisation",
        "operationId": "organisation_get",
        "tags": ["iam_organisation"],
        "parameters": [
          {
            "$ref": "#/components/parameters/organisationId"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organisation"
                }
              }
            },
            "links": {
              "project": {
                "operationId": "project_list",
                "parameters": {
                  "organisation": "$request.path.organisationId"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/organisation/get"]
      },
      "patch": {
        "summary": "Update iam/organisation",
        "description": "Returns modified organisation",
        "operationId": "organisation_update",
        "tags": ["iam_organisation"],
        "parameters": [
          {
            "$ref": "#/components/parameters/organisationId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/organisation_update"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organisation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "delete": {
        "summary": "Delete iam/organisation",
        "parameters": [
          {
            "$ref": "#/components/parameters/organisationId"
          }
        ],
        "operationId": "organisation_delete",
        "description": "Delete organisation",
        "tags": ["iam_organisation"],
        "x-permissions": ["iam/organisation/delete"],
        "x-state": ["Active"],
        "responses": {
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/iam/organisation/{organisationId}/actions/transfer_accept": {
      "post": {
        "summary": "Transfer accept iam/organisation",
        "description": "action transfer_accept",
        "operationId": "organisation_transfer_accept",
        "tags": ["iam_organisation"],
        "parameters": [
          {
            "$ref": "#/components/parameters/organisationId"
          },
          {
            "$ref": "#/components/parameters/x-idempotency-key"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organisation"
                }
              }
            }
          },
          "202": {
            "description": "operation queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organisation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/organisation.transfer/accept"],
        "x-state": ["Active"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/organisation_transfer_accept"
              }
            }
          },
          "required": true
        }
      }
    },
    "/iam/organisation/{organisationId}/billing": {
      "get": {
        "summary": "List iam/organisation.billing",
        "description": "List iam/organisation.billing",
        "parameters": [
          {
            "$ref": "#/components/parameters/organisationId"
          },
          {
            "name": "start",
            "in": "query",
            "description": "start",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "end",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "resource.type",
            "in": "query",
            "description": "resource.type",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "organisation_billing_list",
        "tags": ["iam_organisation"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Billing collection",
                  "items": {
                    "$ref": "#/components/schemas/billing"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/organisation.billing/list"],
        "x-audience": "developer"
      }
    },
    "/iam/organisation/{organisationId}/payment": {
      "get": {
        "summary": "List iam/organisation.payment",
        "description": "List iam/organisation.payment",
        "parameters": [
          {
            "$ref": "#/components/parameters/organisationId"
          }
        ],
        "operationId": "organisation_payment_list",
        "tags": ["iam_organisation"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Payment collection",
                  "items": {
                    "$ref": "#/components/schemas/payment"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/organisation.payment/list"]
      }
    },
    "/iam/organisation/{organisationId}/payment/{paymentId}": {
      "get": {
        "summary": "Get iam/organisation.payment",
        "description": "Get iam/organisation.payment",
        "parameters": [
          {
            "$ref": "#/components/parameters/organisationId"
          },
          {
            "name": "paymentId",
            "in": "path",
            "description": "paymentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "organisation_payment_get",
        "tags": ["iam_organisation"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/organisation.payment/get"]
      }
    },
    "/iam/organisation/{organisationId}/payment/{paymentId}/actions/allocate": {
      "post": {
        "summary": "Create iam/organisation.actions",
        "description": "Create iam/organisation.actions",
        "parameters": [
          {
            "$ref": "#/components/parameters/organisationId"
          },
          {
            "name": "paymentId",
            "in": "path",
            "description": "paymentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "organisation_payment_allocate",
        "tags": ["iam_organisation"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/organisation_payment_allocate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/organisation.payment/allocate"],
        "x-state": ["Unallocated"]
      }
    },
    "/iam/organisation/{organisationId}/invoice": {
      "get": {
        "summary": "List iam/organisation.invoice",
        "description": "List iam/organisation.invoice",
        "parameters": [
          {
            "$ref": "#/components/parameters/organisationId"
          }
        ],
        "operationId": "organisation_invoice_list",
        "tags": ["iam_organisation"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Invoice collection",
                  "items": {
                    "$ref": "#/components/schemas/invoice"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/organisation.invoice/list"]
      }
    },
    "/iam/organisation/{organisationId}/invoice/{invoiceId}": {
      "get": {
        "summary": "Get iam/organisation.invoice",
        "description": "Get iam/organisation.invoice",
        "parameters": [
          {
            "$ref": "#/components/parameters/organisationId"
          },
          {
            "name": "invoiceId",
            "in": "path",
            "description": "invoiceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "organisation_invoice_get",
        "tags": ["iam_organisation"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/proforma"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/organisation.invoice/get"]
      }
    },
    "/iam/organisation/{organisationId}/invoice/{invoiceId}/actions/download": {
      "post": {
        "summary": "Create iam/organisation.actions",
        "description": "Create iam/organisation.actions",
        "parameters": [
          {
            "$ref": "#/components/parameters/organisationId"
          },
          {
            "name": "invoiceId",
            "in": "path",
            "description": "invoiceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "organisation_invoice_download",
        "tags": ["iam_organisation"],
        "responses": {
          "200": {
            "description": "PDF file",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/organisation.invoice/download"]
      }
    },
    "/iam/organisation/{organisationId}/proforma": {
      "post": {
        "summary": "Create iam/organisation.proforma",
        "description": "Create iam/organisation.proforma",
        "parameters": [
          {
            "$ref": "#/components/parameters/organisationId"
          }
        ],
        "operationId": "organisation_proforma_create",
        "tags": ["iam_organisation"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/organisation_proforma_create"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/proforma"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/organisation.proforma/create"]
      },
      "get": {
        "summary": "List iam/organisation.proforma",
        "description": "List iam/organisation.proforma",
        "parameters": [
          {
            "$ref": "#/components/parameters/organisationId"
          }
        ],
        "operationId": "organisation_proforma_list",
        "tags": ["iam_organisation"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Proforma collection",
                  "items": {
                    "$ref": "#/components/schemas/proforma"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/organisation.proforma/list"]
      }
    },
    "/iam/organisation/{organisationId}/proforma/{proformaId}": {
      "get": {
        "summary": "Get iam/organisation.proforma",
        "description": "Get iam/organisation.proforma",
        "parameters": [
          {
            "$ref": "#/components/parameters/organisationId"
          },
          {
            "name": "proformaId",
            "in": "path",
            "description": "proformaId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "organisation_proforma_get",
        "tags": ["iam_organisation"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/proforma"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/organisation.proforma/get"]
      }
    },
    "/iam/organisation/{organisationId}/proforma/{proformaId}/actions/download": {
      "post": {
        "summary": "Create iam/organisation.actions",
        "description": "Create iam/organisation.actions",
        "parameters": [
          {
            "$ref": "#/components/parameters/organisationId"
          },
          {
            "name": "proformaId",
            "in": "path",
            "description": "proformaId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "organisation_proforma_download",
        "tags": ["iam_organisation"],
        "responses": {
          "200": {
            "description": "PDF file",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/organisation.proforma/download"]
      }
    },
    "/iam/organisation/{organisationId}/invitation": {
      "get": {
        "summary": "List iam/organisation.invitation",
        "description": "List iam/organisation.invitation",
        "parameters": [
          {
            "$ref": "#/components/parameters/organisationId"
          },
          {
            "name": "resource",
            "in": "query",
            "description": "resource",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "organisation_invitation_list",
        "tags": ["iam_organisation"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Invitation collection",
                  "items": {
                    "$ref": "#/components/schemas/invitation"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/organisation.invitation/list"]
      }
    },
    "/iam/organisation/{organisationId}/invitation/{invitationId}": {
      "get": {
        "summary": "Get iam/organisation.invitation",
        "description": "Get iam/organisation.invitation",
        "parameters": [
          {
            "$ref": "#/components/parameters/organisationId"
          },
          {
            "name": "invitationId",
            "in": "path",
            "description": "invitationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "organisation_invitation_get",
        "tags": ["iam_organisation"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invitation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/organisation.invitation/get"]
      },
      "delete": {
        "summary": "Delete iam/organisation.invitation",
        "description": "Delete iam/organisation.invitation",
        "parameters": [
          {
            "$ref": "#/components/parameters/organisationId"
          },
          {
            "name": "invitationId",
            "in": "path",
            "description": "invitationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "organisation_invitation_delete",
        "tags": ["iam_organisation"],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/organisation.invitation/delete"]
      }
    },
    "/iam/organisation/{organisationId}/invitation/{invitationId}/actions/accept": {
      "post": {
        "summary": "Create iam/organisation.actions",
        "description": "Create iam/organisation.actions",
        "parameters": [
          {
            "$ref": "#/components/parameters/organisationId"
          },
          {
            "name": "invitationId",
            "in": "path",
            "description": "invitationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "organisation_invitation_accept",
        "tags": ["iam_organisation"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/organisation_invitation_accept"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invitation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": [],
        "x-audience": "developer"
      }
    },
    "/iam/organisation/{organisationId}/ownership": {
      "post": {
        "summary": "Create iam/organisation.ownership",
        "description": "Create iam/organisation.ownership",
        "parameters": [
          {
            "$ref": "#/components/parameters/organisationId"
          }
        ],
        "operationId": "organisation_ownership_create",
        "tags": ["iam_organisation"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/organisation_ownership_create"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organisation"
                }
              }
            }
          },
          "202": {
            "description": "operation queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organisation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/organisation.ownership/create"]
      },
      "get": {
        "summary": "List iam/organisation.ownership",
        "description": "List iam/organisation.ownership",
        "parameters": [
          {
            "$ref": "#/components/parameters/organisationId"
          }
        ],
        "operationId": "organisation_ownership_list",
        "tags": ["iam_organisation"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Ownership collection",
                  "items": {
                    "$ref": "#/components/schemas/ownership"
                  }
                }
              }
            },
            "links": {
              "invitation": {
                "operationId": "organisation_invitation_list",
                "parameters": {
                  "resource": "$path"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/organisation.ownership/list"]
      }
    },
    "/iam/organisation/{organisationId}/ownership/{ownershipId}": {
      "get": {
        "summary": "Get iam/organisation.ownership",
        "description": "Get iam/organisation.ownership",
        "parameters": [
          {
            "$ref": "#/components/parameters/organisationId"
          },
          {
            "name": "ownershipId",
            "in": "path",
            "description": "ownershipId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "organisation_ownership_get",
        "tags": ["iam_organisation"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ownership"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/organisation.ownership/get"]
      },
      "delete": {
        "summary": "Delete iam/organisation.ownership",
        "description": "Delete iam/organisation.ownership",
        "parameters": [
          {
            "$ref": "#/components/parameters/organisationId"
          },
          {
            "name": "ownershipId",
            "in": "path",
            "description": "ownershipId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "organisation_ownership_delete",
        "tags": ["iam_organisation"],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/organisation.ownership/delete"]
      }
    },
    "/iam/organisation/{organisationId}/event": {
      "get": {
        "summary": "List iam/organisation.event",
        "description": "List iam/organisation.event",
        "parameters": [
          {
            "$ref": "#/components/parameters/organisationId"
          },
          {
            "name": "$limit",
            "in": "query",
            "description": "$limit",
            "required": false,
            "schema": {
              "type": "number",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "$skip",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "operationId": "organisation_event_list",
        "tags": ["iam_organisation"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Event collection",
                  "items": {
                    "$ref": "#/components/schemas/event"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/organisation.event/list"]
      }
    },
    "/iam/organisation/{organisationId}/event/{eventId}": {
      "get": {
        "summary": "Get iam/organisation.event",
        "description": "Get iam/organisation.event",
        "parameters": [
          {
            "$ref": "#/components/parameters/organisationId"
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "eventId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "organisation_event_get",
        "tags": ["iam_organisation"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/event"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["iam/organisation.event/get"]
      }
    },
    "/provider/{locationId}/project/{projectId}/agent": {
      "post": {
        "summary": "Create provider/agent",
        "description": "Create agent",
        "operationId": "provider_project_agent_create",
        "tags": ["provider_project_agent"],
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/locationId"
          },
          {
            "$ref": "#/components/parameters/x-idempotency-key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/provider_project_agent_create"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agent"
                }
              }
            }
          },
          "202": {
            "description": "operation queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "x-permissions": ["provider/agent/create"]
      },
      "get": {
        "summary": "List provider/agent",
        "description": "List agent",
        "operationId": "provider_project_agent_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/locationId"
          },
          {
            "name": "name",
            "description": "Filter by name",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/tag.value"
          },
          {
            "$ref": "#/components/parameters/tag.key"
          }
        ],
        "tags": ["provider_project_agent"],
        "responses": {
[...]
